version: '3.8'

services:

  web:

    build: .

    container_name: market_api

    env_file:
      - .env

    volumes:
      - .:/app

    ports:
      - "8001:8001"

    restart: always

    command: python -m uvicorn app.main:app --host 0.0.0.0 --port 8001 --reload

